<main class='grid h-11/12 pt-2 px-2 gap-2 grid-flow-col grid-rows-8 text-3xl
  md:grid-flow-row md:grid-cols-8 text-cyan-50 text-center '>
  <key [key]='do()' classKey='bg-red-600 md:h-100' > </key>
  <key [key]='re()' classKey='bg-amber-600 md:h-90' > </key>
  <key [key]='mi()' classKey='bg-yellow-600 md:h-80' > </key>
  <key [key]='fa()' classKey='bg-green-600 md:h-70' > </key>
  <key [key]='sol()' classKey='bg-teal-600 md:h-60' > </key>
  <key [key]='la()' classKey='bg-blue-600 md:h-50' > </key>
  <key [key]='si()' classKey='bg-violet-600 md:h-45' > </key>
  <key [key]='do2()' classKey='bg-orange-600 md:h-40' > </key>
</main>
