<main class='w-screen h-screen flex-wrap'>

  <logo />

  <div class='grid h-11/12 pt-2 px-2 gap-2 grid-flow-col grid-rows-8 text-3xl
  md:grid-flow-row md:grid-cols-8 text-cyan-50 text-center '>
    <keyboard [key]='do()' classKey='bg-red-600 md:h-100' > </keyboard>
    <keyboard [key]='re()' classKey='bg-amber-600 md:h-90' > </keyboard>
    <keyboard [key]='mi()' classKey='bg-yellow-600 md:h-80' > </keyboard>
    <keyboard [key]='fa()' classKey='bg-green-600 md:h-70' > </keyboard>
    <keyboard [key]='sol()' classKey='bg-teal-600 md:h-60' > </keyboard>
    <keyboard [key]='la()' classKey='bg-blue-600 md:h-50' > </keyboard>
    <keyboard [key]='si()' classKey='bg-violet-600 md:h-45' > </keyboard>
    <keyboard [key]='do2()' classKey='bg-orange-600 md:h-40' > </keyboard>
  </div>

</main>




